
{% load static %}
<link rel="stylesheet" href="{% static 'table.css'%}">
    <form method="GET" >
<table class="styled-table">

    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
         
            <th>Modify</th>
        </tr>
    </thead>
    <tbody>

		<input type="hidden" name = "id" value="{{id}}" />
		
 
        <tr>
 
     
     
            <td><select name="name" >
            {% for j in val.0 %}
            {% for i in j %}
            <option value="{{i}}" >{{i}}</option>
            
             
             {% endfor %}
              {% endfor %}
              </select>
             </td>
            <td><select name="date" >
            
            
            
           
            {% for i in date %}
             <option value="{{i}}" >{{i}}</option>
             
             {% endfor %}
             </select>
             {% if sep != '1' %}
             <td><button id="edit" name = "done1" value="1"  />Done</td>
             {% endif %}
             
             </tr>
             <tr>
             {% if sep == '1' %}
            <td><select name="room" required >
            <option value="{{val.2}}" selected >{{val.2}}</option>
            {% for i in room1 %}
             <option value="{{i.0}}" >{{i.0}}</option>
             {% endfor %}
             </select>
             {% if nov != '1' %} 
             <td></td>
 <td><button id="edit" name = "done2" value="2"  />Done</td>
             
             {% endif %}
             </td>
             
             </tr>
             <tr>
             <td><select name="session" >
             {% if ses == 'MA' %}
             <option value="A" selected >Afternoon</option>
             <option value="M"  >Morning</option>
             
             {% elif ses.0.0 == 'A' %}
             <option value="A" selecetd >Afternoon</option>
             
              {% elif ses.0.0 == 'M' %}
               <option value="M" selected >Morning</option>
           
             {% endif %}

<td></td>
              </select>
             
             </td>
             
            
           


             
              <td>
             <input type="hidden" name="fname" value="{{room.fname}}" />
             <input type="hidden" name="froom" value="{{room.froom}}" />
             <input type="hidden" name="exam_date" value="{{room.exam_date}}" />
 
	    <button id="edit" name = "done" value="4"  />Done</td>
	   
        </tr>
        
 
         {% endif %}
        
        <!-- and so on... -->
    </tbody>
</table>
 </form>
